<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*"
            modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
        <httpPlatform processPath="D:\home\site\wwwroot\run_activemq.bat" arguments=""

stdoutLogEnabled="true"

startupRetryCount='10'></httpPlatform>
    </system.webServer>
</configuration>